* {
    margin: 0;
    padding: 0;
    color: white;
}

/*Header*/

nav {
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

ul {
    display: flex;
    gap: 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*main*/

main {
    padding: 0 30px;
}

h2 {
    color: black;
    padding: 20px 0 20px 20px;
}

div {
    background-color: #c4c4c4;
    width: 350px;
    height: 150px;
}

section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/*media queries*/

@media only screen and (max-width: 480px) {
    h4 {
        display: none;
    }

    ul {
        gap: 30px;
    }

    h2 {
        text-align: center;
    }
    
    section {
        flex-direction: column;
        align-items: center;
    }
    
    div {
        width: 180px;
    }
}
